//基础色
$navBarBasicColor: #1971c2;
//展开色
$navBarOpenedColor: #1864ab;
//标题背景色
$navBarTitleBgColor: #0b7285;
//item徐中色
$navBarHoverBgColor: #339af0;
//文字颜色
$navBarFontColor: #ffffff;

//标题的文字大小
$navItenTitleFontSize: 20px;
//选项的文字大小
$navItemFontSize: 16px;
//子选项的文字大小
$navSubItemFontSize: 12px;

@mixin navbar_item_style($cursor, $height, $font-size, $hoverBgColor: null) {
    cursor: $cursor; 
    width: 100%;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size;

    @if $hoverBgColor {
        &:hover {
            background-color: $hoverBgColor;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        }
    }
}


.navbar_container {
    height: 100%;
    width: 100%;
    background-color: $navBarBasicColor;
    color: $navBarFontColor;
    user-select: none;
    overflow: auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #339af0;
        border-radius: 6px;
    }

    .navbar_item {
        @include navbar_item_style(pointer, 50px, $navItemFontSize);
    }

    .navbar_subitem {
        @include navbar_item_style(pointer, 45px, $navSubItemFontSize, $navBarHoverBgColor);
    }

    .navbar_subitem_container {
        background-color: $navBarOpenedColor;
        display: none;

        &.open {
            display: block;
        }
    }

    .navbar_title {
        text-align: center;
        font-size: $navItenTitleFontSize;
        background-color: $navBarTitleBgColor;
        line-height: 50px;
        height: 50px;
    }
}