.navbar_container {
    height: 100vh;
    width: 250px;
    background-color: #37474F;
    color: #EEEEEE;
    overflow: auto;
}

.navbar_container::-webkit-scrollbar {}

.navbar_container::-webkit-scrollbar-track {}

.navbar_container::-webkit-scrollbar-thumb {}

.navbar_container::-webkit-scrollbar-thumb:hover {}


.navbar_container .navbar_item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar_container .navbar_title {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar_container .navbar_item .navbar_item_title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.navbar_container .navbar_item .navbar_subitem_container {
    width: 100%;
    height: 100%;
    background-color: #455A64;
}

.navbar_container .navbar_item .navbar_subitem_container .navbar_subitem {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}