/* The following block can be included in a custom.scss */

$theme-colors: (
    "primary":#1864ab,
    "secondary": #adb5bd,
    "success": #087f5b,
    "info": #da77f2,
    "warning": #f59f00,
    "danger": #c92a2a,
    "light": #f8f9fa,
    "dark": #212529
);

//Container
$container-padding-x: 0px;

// Button
$btn-border-radius: 3px;

// input
$input-border-color: #495057;
$input-border-radius: 3px;
$input-focus-border-color: #1864ab;
$input-focus-box-shadow: none;

//moda
$modal-inner-padding: 10px;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';