.Login_title {
    color: #495057;
}

.login_box {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #495057;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}